<section id="comments" data-message-id="<%= message.id %>">
  <%= turbo_frame_tag "#{dom_id(@message)}/comments", data: { channel: 'comments' } do %>
    <%= render message.comments %>
  <% end %>
</section>

<%= turbo_frame_tag "#{dom_id(@message)}/new_comment" do %>
  <%= render 'comments/new', message: message %>
<% end %>
