<!DOCTYPE html>
<html>
  <head>
    <title>ActioncableExamples</title>
    <%= csrf_meta_tags %>
    <meta name="current-user" id="<%= @current_user.try(:id) %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
