<!DOCTYPE html>
<html>
  <head>
    <title>Action Cable Examples</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>

    <meta name="current-user" id="<%= @current_user.try(:id) %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
